# Default ignored files
.idea/shelf/
.idea/workspace.xml
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml

**.exe
**.ilk
**.pdb
cmake-*
.scratch/
out/
.vs/
bin/pingme.txt
bin/ResourcePanel.obj